body {
  font-family: 'Montserrat', sans-serif;
}
.form {
}
.label-delay {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.input-delay {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
  box-sizing: border-box;
  padding-left: 16px;
}
.input-delay:hover {
  border: 1.5px solid #000;
}
.input-delay:focus-visible {
  outline: none;
  border: 1px solid #4e75ff;
}

fieldset {
  display: flex;
  justify-content: space-around;
  /* gap: 24px; */
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 8px;
  padding-top: 14px;
  width: 360px;
  height: 78px;
  box-sizing: border-box;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #422e3d;
  margin-bottom: 24px;
}
fieldset:hover {
  border-radius: 4px;
  stroke-width: 3px;
  stroke: #000;
}
legend {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label-state {
  display: flex;
}
.input-state {
  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;
}
button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
button:hover {
  background-color: #6c8cff;
}
